/* StartPage and Charamaking */
#startpage input {
    max-width: 100px;
    max-height: 20px;
    font-size: 15px;
    text-transform: capitalize;
}

#startpage {
    line-height: auto;
}

.intro {
    font-family: 筑紫古典;
    font-size: 18px;
    text-shadow: 0 0 3px rgb(237, 240, 222)
}

#StartingPageMenu {
    width:100%;
}

#charainfo {
    margin-left:30px;
    font-size:15px;
    color:gray;
    font-family:"Noto Serif SC";
    letter-spacing: 1px;
}

#StartingPageMenu button {
    width:150px;
    font-size: 16px;
    letter-spacing:2px;
    margin: 4px;
    background-color: rgba(250, 250, 250);
    border: 1px solid lightgray;
    border-radius: 5px;
    color: rgb(76, 77, 63);
}

#StartingPageMenu button:hover {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(51, 51, 51);
    color: rgb(0, 0, 0);
}

#StartingPage li {
    font-size: 15px;
    line-height: 24px;
    list-style: "∵ ";
}

#StartingPage select {
    font-size: 14px;
    width: 100px;
    height: 30px;
    color: olive;
}

#StartingPage select:hover {
    color: black;
    border-color: olive;
}

#StartingPage .dashline {
    margin-top: 5px;
    margin-bottom: 5px;
}

#charamaking {
    font-size: 15px;
    font-family: Georgia,筑紫黑体;
}

#charamaking li {
    font-size: 15px;
    list-style: "・";
    color:olive;
    font-family: Georgia,新综艺B;
}

#GameSetting {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
}

#GameSetting a {
    font-size: 14px;
    font-family: Georgia, 新综艺B;
}

/* Event */
#eventsituation {
    max-width: 800px;
    width: 100%;
    display: block;
    height: fit-content;
    margin: auto;
    font-size: 24px;
    font-family:珍珠体, Georgia;
    text-align: center;
    letter-spacing: 2px;
	line-height: 40px;
    padding: 20px;
    transition: all 0.75s;
}

#eventselectarea {
    max-width: 800px;
    width: 100%;
    display:block;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: auto;
    transition: all 0.75s;
}

.Eselect {
    width: 150px;
    display: inline-block;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.Eselect a {
	font-family: 珍珠体;
	font-size: 24px;
    font-weight: 300;
    color:rgb(129, 122, 16);
}

.Eselect:hover ::before {
  content: "- ";
}
.Eselect:hover ::after {
  content: " -";
}

.Eselect a:hover{
    color: rgb(180, 166, 36);
    text-shadow:0 0 2px rgb(180, 166, 36);
    border: none;
}

/* Navigator */

#navi {
    width: 200px;
    z-index: 50;
    position: fixed;
    bottom: 250px;
    border: 2px solid #ccc;
    padding: 4px;
    height: 30px;
    background-color: #fff;
    border-radius: 25px 0% 0% 25px;
    transition: all 0.75s ease-in-out; 
}

#navi:hover {
    right: -2px;
}

.navi_unable {
    right: -100px
}

.navi_active {
    right: -2px;

}

#movebutton {
    position: absolute;
    top:5px;
    left:20px;
}

#links {
    width: 176px;
    height: 250px;
    top: 39px;
    left: 25px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    padding-left: 5px;
    border: 1px solid #eee;
    -webkit-backdrop-filter: drop-shadow(0px 0px 5px rgba(163, 153, 153, 0.2)) blur(5px);
    backdrop-filter: drop-shadow(0px 0px 5px rgba(163, 153, 153, 0.2)) blur(5px); 
}

#links a {
    font-size: 14px;
}

#links a:hover {
    border: 0px;
}

.links:hover ::after {
    content: " ◁";
}

.links {
    width: 150px;
    height: fit-content;
    float: left;
    position: relative;
    border-bottom: 1px dashed #ccc;
    padding-left: 20px;
}

/* general elements*/
.description {
    margin-left: 10px;
    font-size: 14px;
    color:gray;
}

.appen-eventsituation {
    max-width: 800px;
    width: 100%;    
    margin: 0px auto;
    display: block;
    font-size: 24px;
    font-family:珍珠体, Georgia;
    text-align: center;
    letter-spacing: 2px;
	line-height: 40px;
    transition: all 0.75s;
}

.append-normal {
    margin:2px;
    margin-left:10px;
}