#con {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
  position:relative;
  overflow:clip;
}

.blinking {
  animation-name:sample;
  animation-duration:5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.layer {
  position:absolute;
  top:0px;
  left:0px;
}

@keyframes sample {
  58%   {content:url("https://lunegame.000webhostapp.com/full.png")}
  60%  {content:url("https://lunegame.000webhostapp.com/quater1.png")}
  62%  {content:url("https://lunegame.000webhostapp.com/half.png")}
  64% {content:url("https://lunegame.000webhostapp.com/close1.png")}
  66%  {content:url("https://lunegame.000webhostapp.com/half.png")}
  68%  {content:url("https://lunegame.000webhostapp.com/quater1.png")}
  70%   {content:url("https://lunegame.000webhostapp.com/full.png")} 
  
  84%   {content:url("https://lunegame.000webhostapp.com/full.png")}
  85%  {content:url("https://lunegame.000webhostapp.com/quater1.png")}
  86%  {content:url("https://lunegame.000webhostapp.com/half.png")}
  87% {content:url("https://lunegame.000webhostapp.com/close1.png")}
  88%  {content:url("https://lunegame.000webhostapp.com/half.png")}
  89%  {content:url("https://lunegame.000webhostapp.com/quater1.png")}
  90%   {content:url("https://lunegame.000webhostapp.com/full.png")}
  
  94%   {content:url("https://lunegame.000webhostapp.com/full.png")}
  95%  {content:url("https://lunegame.000webhostapp.com/quater1.png")}
  96%  {content:url("https://lunegame.000webhostapp.com/half.png")}
  97% {content:url("https://lunegame.000webhostapp.com/close1.png")}
  98%  {content:url("https://lunegame.000webhostapp.com/half.png")}
  99%  {content:url("https://lunegame.000webhostapp.com/quater1.png")}
  100%   {content:url("https://lunegame.000webhostapp.com/full.png")}
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@keyframes blink {
  to { background-position: -720px }
}


.blinking {
  width: 180px;
  height: 260px;
  border: 1px solid #ccc;
  animation: blink 0.6s steps(4) infinite;
  margin: 100px;
}

#show_money{
    width: fit-content;
    min-width: 200px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(224, 223, 204, 0.5);
    border-radius: 0% 0px 0px 50px;
    position: fixed;
    top:-1px;
    right:-1px;
    padding-left: 20px;
    text-align: right;
}

#show_money .slice {
    color: rgb(221, 217, 212);
}

#show_money .points {
    font-size: 18px;
    line-height: 18px;
    color:rgb(70, 208, 243);
    font-family: 稚艺简体,'Times New Roman';
    font-weight: 600;
    letter-spacing: 3px;
    float: left;
    width: fit-content;
    min-width: 100px;
    height: 20px;
    padding: 2px;
}

#show_money .money {
    font-size: 18px;
    line-height: 18px;
    color:rgb(172, 169, 2);
    font-family: 稚艺简体,'Times New Roman';
    font-weight: 600;
    letter-spacing: 3px;
    float: right;
    width: fit-content;
    min-width: 100px;
    height: 20px;
    padding: 2px;
}
