@font-face{
font-family : "硬笔楷书";
src : url("CSS/FZYBKSJW.TTF");
}

@font-face{
font-family: "细倩简体";
src: url("CSS/FZXQJW.woff") format('woff'),
     url("CSS/FZXQJW.woff2") format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: "稚艺简体";
src: url("CSS/FZZHYJW.woff") format('woff'),
     url("CSS/FZZHYJW.woff2") format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face{
font-family: "筑紫古典";
src: url("CSS/FZFWZhuZGDSMCJW.TTF");
}

@font-face{
font-family: "珍珠体";
src: url("CSS/FZFWZZTJW.TTF");
}

@font-face{
font-family: "筑紫A圆";
src: url("CSS/FZFWZhuZiAYuanJWL.TTF");
}

@font-face{
font-family: "筑紫黑体";
src: url("CSS/FZFWZhuZiHeiR.TTF");
}

html {
    /* Vertical colour gradient */
  background-image: linear-gradient(
    to bottom,
    rgb(240, 240, 240) 30%,
    rgb(220, 220, 220)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgb(240, 240, 240) 30%,
    rgb(220, 220, 220)
  );
    background-attachment: fixed;

    /* Fallback colour */
    background-color: #eee;
}

body {
    /* Remove default styles */
    background-color: transparent;
    margin: -1% 0 0 0;
    font-family: "Times New Roman", Georgia, Verdana;
    /* Used to center the box */
    text-align: left;
    color: #707556;
}


#passages {
    float: left;
    width: 80%;
    min-width: 600px;
}

.passage {
    margin: 0px;
    /* Inner margin within the box */
    padding: 24px;
    /* Text formatting */
    color: rgb(65, 58, 3);
    font-size: 90%;
    line-height:180%;
    text-align:justify;
}

/* Shrink the page when viewed on devices with a low screen width */
@media screen and (max-width: 1920px) {
  .passage {
  font-size: 100%;
  }
  #passages {
  width: 80%;
  }
}
@media screen and (max-width: 1200px) {
    .passage {
    font-size: 90%;
    }
    #passages {
    width: 80%;
    }
}
@media screen and (max-width: 960px) {
  .passage {
    font-size: 90%;
  }
  #passages {
    width: 90%;
  }
}

@media screen and (max-width: 840px) {
  .passage {
    font-size: 87.5%;
  }
  #passages {
    width: 95%;
  }
}

@media screen and (max-width: 720px) {
  .passage {
    font-size: 75%;
  }
  #passages {
    width: 100%;
  }
}

#passages button {
  background-color: #eee;
  border-color: #ccc;
  width: fit-content;
}

#passages button:hover {
  background-color: #ddd;
  border-color: #111;
  cursor: pointer;
}

#widget button {
  background-color: #eee;
    border-color: #ccc;
  width: fit-content;
}

#widget button:hover {
  background-color: #ddd;
    border-color: rgb(126, 122, 108);
  cursor: pointer;
}

  /* Debug view styling */
html:not([data-debug-view]) #debug-view-toggle {
    color: #111;
    border-color: #ccc;
}

html:not([data-debug-view]) #debug-view-toggle:hover {
    background-color: #eee;
    border-color: #111;
}

html[data-debug-view] #debug-view-toggle {
    background-color: #9e9;
    border-color: #7c7;
}

html[data-debug-view] #debug-view-toggle:hover {
    background-color: #7c7;
    border-color: #5a5;
}

html[data-debug-view] .debug {
    background-color: #dc9;
}

html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
    background-color: #bbb;
}

label {
	cursor: pointer;
}

