/* Links */
a, a.internalLink, a.externalLink {
    color: rgb(151, 136, 0);
    font-weight: 600;
}

a:hover, a.internalLink:hover, a.externalLink:hover {
	color: rgb(255, 72, 133);
	text-decoration: none;
  border-bottom:1px solid;
}
  
span.link-disabled {
	color: #ACBCBB;
}
  
button {
	color: #111;
}

input, select, textarea {
    color: #111;
    border-color: #ccc;
    max-width:200px;
}

input:not(:disabled):focus, select:not(:disabled):focus, textarea:not(:disabled):focus,
input:not(:disabled):hover, select:not(:disabled):hover, textarea:not(:disabled):hover {
    background-color: white;
    border-color: rgb(88, 94, 43);
}

input[type="text"] {
  background-color:white;
  border-style:dashed;
  border-radius: 5px;
  border-color:rgb(203, 204, 167);
  min-width: 80px;
  min-height: 20px;
  color: olive;
}

input[type="text"]:hover {
  background-color: rgb(247, 246, 240);
  border-color:rgb(88, 94, 43);
  color:black;
}

.dashline {
  width:auto;
  height:1px;
  border-bottom: 1px rgb(184, 182, 173) dashed;
  position: relative;
  display: block;
}

hr {
    border-color: rgb(88, 94, 43);
}

.hidden {
	display: none !important;
}

.close {
	background-color: gray;
}

.macro-button {
  background-color: #eee;
  border-color: #ccc;
  width: 100%;
}

.macro-button:hover {
  background-color: #ddd;
  border-color: #111;
  cursor: pointer;
}

#icon {
  position: static;
  vertical-align: middle;
}

.textbox {
  width: 300px;
  height: 150px;
  font-size: 12px;
  border-radius: 10px;
  border: 2px solid #707556;
}

.title {
  font-size: 32px;
  font-family: "筑紫古典";
  color:#474000;
  letter-spacing: 5px;
  margin-left: -10px;
  text-shadow: #fff 2px 2px;
}

.lbox {
  min-height: 20px;
  width: fit-content;
  max-width: 720px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  border: rgba(212, 211, 197, 0.75) 1px solid;
  color:rgb(153, 150, 130);
  text-shadow: rgb(230, 238, 225) 1px 1px;
  line-height: 18px;
  font-size: 14px;
  margin: 10px 0px;
}

.tolink a {
  background-image: url("image/icon/tolink.png");
  background-repeat: no-repeat;
  background-position-x: -2px;
  vertical-align: middle;
  letter-spacing: 2px;
  padding: 0px 6px 4px 16px;
  margin: 2px;
  font-family: 稚艺简体;
}

.tolink a:hover {
  background-image: url("image/icon/tolink_hover.png");
  color: #d4bf00;
  border:0px;
}

.situation {
  min-height: 50px;
  width: fit-content;
  max-width: 1000px;
  padding: 3px;
  margin: 5px;
}

  
  

