#startpage input {
    max-width: 100px;
    max-height: 20px;
    font-size: 15px;
}

#startpage {
    line-height: auto;
}

.intro {
    font-family: 筑紫古典;
    font-size: 18px;
    text-shadow: 0 0 3px rgb(237, 240, 222)
}

#StartingPageMenu {
    width:100%;
}

#StartingPageMenu button {
    width:150px;
    font-size: 16px;
    letter-spacing:2px;
    margin: 4px;
    background-color: rgba(250, 250, 250);
    border: 1px solid lightgray;
    border-radius: 5px;
    color: rgb(76, 77, 63);
}

#StartingPageMenu button:hover {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(51, 51, 51);
    color: rgb(0, 0, 0);
}

#StartingPage li {
    font-size: 15px;
    line-height: 24px;
    list-style: "∵ ";
}

#StartingPage select {
    font-size: 14px;
    width: 100px;
    height: 30px;
    color: olive;
}

#StartingPage select:hover {
    color: black;
    border-color: olive;
}

#StartingPage .dashline {
    margin-top: 5px;
    margin-bottom: 5px;
}

#charamaking {
    font-size: 15px;
    font-family: Georgia,筑紫黑体;
}

#charamaking li {
    font-size: 15px;
    list-style: "・";
    color:olive;
    font-family: Georgia,新综艺B;
}

#GameSetting {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
}

#GameSetting a {
    font-size: 14px;
    font-family: Georgia, 新综艺B;
}

.description {
    margin-left: 10px;
    font-size: 14px;
    color:gray;
}

.gray {
    text-shadow: 1px 1px 0px rgba(187, 187, 187, 0.5),-2px -2px 0px #eee,;
    color:#ccc;
}
