
.delayed {
    opacity: 0;
  }
  
/*水平翻转*/
  .flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}

/*垂直翻转*/
.flipy {
  -moz-transform:scaleY(-1);
  -webkit-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);
  /*IE*/
  filter:FlipV;
}


.movedown {
  animation: movedown 1.5s alternate;
}

@keyframes movedown {
  0% {height: 60px;};
  25% {height: 120px};
  50% {height: 180px};
  100% {height: 250px};
}

/* Drunk Text - Start */
.drunk {
	animation: drunkCam 30s alternate;
}
@keyframes drunkCam {
	0%  { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
	20% { filter: blur(1px); text-shadow: 8px 0 0 #aaa; }
	24% { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
	26% { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
	28% { filter: blur(1px); text-shadow: 10px 0 0 #aaa; }
	30% { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
	60% { filter: blur(1px); text-shadow: 5px 0 0 #aaa; }
	62% { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
	65% { filter: blur(2px); text-shadow: 8px 0 0 #aaa; }
	67% { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
	80% { filter: blur(0px); text-shadow: 8px 0 0 #aaa; }
	85% { filter: blur(2px); text-shadow: 10px 0 0 #aaa; }
	88% { filter: blur(1px); text-shadow: 5px 0 0 #aaa; }
	90% { filter: blur(0px); text-shadow: 0 0 0 #aaa; }
}
/* Drunk Text - End */

/* Glitchy Text - Start */

/* The "clip" in ".glitch" is depreciated, so technically you should use the "clip-path" that's in ".glitchy" instead, however IE doesn't support "clip-path", and most browsers still support "clip". */

.glitch {
  color: white;
  position: relative;
}
.glitch:before {
  content: attr(data-text);
  width: calc(100% + 0.5em);
  position: absolute;
  left: -9px;
  text-shadow: 1px 0 blue;
  top: -5px;
  color: #FFD;
  background: #111;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch:after {
  content: attr(data-text);
  width: calc(100% + 0.5em);
  position: absolute;
  left: -5px;
  text-shadow: -1px 0 red;
  top: -5px;
  color: #DFF;
  background: #111;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim {
  0% {
    clip: rect(80px, 9999px, 16px, 0);
  }
  5% {
    clip: rect(94px, 9999px, 17px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 92px, 0);
  }
  15.0% {
    clip: rect(37px, 9999px, 4px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 47px, 0);
  }
  25% {
    clip: rect(99px, 9999px, 69px, 0);
  }
  30.0% {
    clip: rect(15px, 9999px, 49px, 0);
  }
  35% {
    clip: rect(83px, 9999px, 81px, 0);
  }
  40% {
    clip: rect(55px, 9999px, 43px, 0);
  }
  45% {
    clip: rect(28px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(64px, 9999px, 28px, 0);
  }
  55.0% {
    clip: rect(76px, 9999px, 91px, 0);
  }
  60.0% {
    clip: rect(29px, 9999px, 72px, 0);
  }
  65% {
    clip: rect(70px, 9999px, 10px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 84px, 0);
  }
  75% {
    clip: rect(46px, 9999px, 81px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(17px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(41px, 9999px, 59px, 0);
  }
  95% {
    clip: rect(53px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 30px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(84px, 9999px, 3px, 0);
  }
  5% {
    clip: rect(31px, 9999px, 69px, 0);
  }
  10% {
    clip: rect(37px, 9999px, 33px, 0);
  }
  15.0% {
    clip: rect(18px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(25px, 9999px, 87px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 8px, 0);
  }
  30.0% {
    clip: rect(24px, 9999px, 87px, 0);
  }
  35% {
    clip: rect(39px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(96px, 9999px, 25px, 0);
  }
  45% {
    clip: rect(16px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 76px, 0);
  }
  55.0% {
    clip: rect(29px, 9999px, 40px, 0);
  }
  60.0% {
    clip: rect(40px, 9999px, 39px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(2px, 9999px, 78px, 0);
  }
  75% {
    clip: rect(86px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 46px, 0);
  }
  85.0% {
    clip: rect(41px, 9999px, 71px, 0);
  }
  90% {
    clip: rect(75px, 9999px, 15px, 0);
  }
  95% {
    clip: rect(41px, 9999px, 8px, 0);
  }
  100% {
    clip: rect(23px, 9999px, 75px, 0);
  }
}

.glitchy {
  color: #111;
  position: relative;
}
.glitchy:before {
  content: attr(data-text);
  width: calc(100% + 0.5em);
  position: absolute;
  left: -9px;
  text-shadow: 1px 0 blue;
  top: -5px;
  color: #111;
  background: #FFD;
  overflow: hidden;
  clip-path: polygon(0 0);
  animation: noise-animY-2 3s infinite linear alternate-reverse;
  -webkit-animation: noise-animY-2 3s infinite linear alternate-reverse;
}
.glitchy:after {
  content: attr(data-text);
  width: calc(100% + 0.5em);
  position: absolute;
  left: -5px;
  text-shadow: -1px 0 red;
  top: -5px;
  color: #111;
  background: #DFF;
  overflow: hidden;
  clip-path: polygon(0 0);
  animation: noise-animY 2s infinite linear alternate-reverse;
  -webkit-animation: noise-animY 2s infinite linear alternate-reverse;
}
@keyframes noise-animY {
  0% {
    clip-path: polygon(0 80px, 100% 80px, 100% 16px, 0 16px);
  }
  5% {
    clip-path: polygon(0 94px, 100% 94px, 100% 17px, 0 17px);
  }
  10% {
    clip-path: polygon(0 9px, 100% 9px, 100% 92px, 0 92px);
  }
  15.0% {
    clip-path: polygon(0 37px, 100% 37px, 100% 4px, 0 4px);
  }
  20% {
    clip-path: polygon(0 53px, 100% 53px, 100% 47px, 0 47px);
  }
  25% {
    clip-path: polygon(0 99px, 100% 99px, 100% 69px, 0 69px);
  }
  30.0% {
    clip-path: polygon(0 15px, 100% 15px, 100% 49px, 0 49px);
  }
  35% {
    clip-path: polygon(0 83px, 100% 83px, 100% 81px, 0 81px);
  }
  40% {
    clip-path: polygon(0 55px, 100% 55px, 100% 43px, 0 43px);
  }
  45% {
    clip-path: polygon(0 28px, 100% 28px, 100% 27px, 0 27px);
  }
  50% {
    clip-path: polygon(0 64px, 100% 64px, 100% 28px, 0 28px);
  }
  55.0% {
    clip-path: polygon(0 76px, 100% 76px, 100% 91px, 0 91px);
  }
  60.0% {
    clip-path: polygon(0 29px, 100% 29px, 100% 72px, 0 72px);
  }
  65% {
    clip-path: polygon(0 70px, 100% 70px, 100% 10px, 0 10px);
  }
  70% {
    clip-path: polygon(0 5px, 100% 5px, 100% 84px, 0 84px);
  }
  75% {
    clip-path: polygon(0 46px, 100% 46px, 100% 81px, 0 81px);
  }
  80% {
    clip-path: polygon(0 7px, 100% 7px, 100% 85px, 0 85px);
  }
  85.0% {
    clip-path: polygon(0 17px, 100% 17px, 100% 89px, 0 89px);
  }
  90% {
    clip-path: polygon(0 41px, 100% 41px, 100% 59px, 0 59px);
  }
  95% {
    clip-path: polygon(0 53px, 100% 53px, 100% 90px, 0 90px);
  }
  100% {
    clip-path: polygon(0 10px, 100% 10px, 100% 30px, 0 30px);
  }
}
@keyframes noise-animY-2 {
  0% {
    clip-path: polygon(0 84px, 100% 84px, 100% 3px, 0 3px);
  }
  5% {
    clip-path: polygon(0 31px, 100% 31px, 100% 69px, 0 69px);
  }
  10% {
    clip-path: polygon(0 37px, 100% 37px, 100% 33px, 0 33px);
  }
  15.0% {
    clip-path: polygon(0 18px, 100% 18px, 100% 6px, 0 6px);
  }
  20% {
    clip-path: polygon(0 25px, 100% 25px, 100% 87px, 0 87px);
  }
  25% {
    clip-path: polygon(0 100px, 100% 100px, 100% 8px, 0 8px);
  }
  30.0% {
    clip-path: polygon(0 24px, 100% 24px, 100% 87px, 0 87px);
  }
  35% {
    clip-path: polygon(0 39px, 100% 39px, 100% 16px, 0 16px);
  }
  40% {
    clip-path: polygon(0 96px, 100% 96px, 100% 25px, 0 25px);
  }
  45% {
    clip-path: polygon(0 16px, 100% 16px, 100% 100px, 0 100px);
  }
  50% {
    clip-path: polygon(0 92px, 100% 92px, 100% 76px, 0 76px);
  }
  55.0% {
    clip-path: polygon(0 29px, 100% 29px, 100% 40px, 0 40px);
  }
  60.0% {
    clip-path: polygon(0 40px, 100% 40px, 100% 39px, 0 39px);
  }
  65% {
    clip-path: polygon(0 94px, 100% 94px, 100% 44px, 0 44px);
  }
  70% {
    clip-path: polygon(0 2px, 100% 2px, 100% 78px, 0 78px);
  }
  75% {
    clip-path: polygon(0 86px, 100% 86px, 100% 50px, 0 50px);
  }
  80% {
    clip-path: polygon(0 2px, 100% 2px, 100% 46px, 0 46px);
  }
  85.0% {
    clip-path: polygon(0 41px, 100% 41px, 100% 71px, 0 71px);
  }
  90% {
    clip-path: polygon(0 75px, 100% 75px, 100% 15px, 0 15px);
  }
  95% {
    clip-path: polygon(0 41px, 100% 41px, 100% 8px, 0 8px);
  }
  100% {
    clip-path: polygon(0 23px, 100% 23px, 100% 75px, 0 75px);
  }
}
/* Glitchy Text - End */


/* 云里雾里奇妙特效 */
/*Center the weird text*/
#weirdtext{
	max-width: 800px;
	display: block;
	font-family: 珍珠体;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 2px;
	color: #444;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.wselectarea {
  max-width: 800px;
  width: 100%;
  display:block;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: auto;
}

.weirdtext {
  width: fit-content;
  min-width: 150px;
  display: inline-block;
  line-height: 40px;
	letter-spacing: 2px;
  text-align: center;
  padding: 20px;
  position: relative;
  color: #444;
}

.weirdtext a {
	font-family: 珍珠体;
	font-size: 24px;
	color: #444;
  font-weight: 300;
  animation: mix 4s linear infinite;
	-webkit-animation: mix 4s linear infinite;
}

.weirdtext:hover ::before {
  content: "- ";
}
.weirdtext:hover ::after {
  content: " -";
}

.weirdtext a:hover{
  color: #666;
  animation: none;
	-webkit-animation: none;
  text-shadow:0 0 2px #666;
  border: none;
}
/*all spans have to be block or inline block to transform*/
#weirdtext span{
	display: inline-block;
}

/*When JS finds a space, it replaces it with a span with .space class*/
/*I did this so you can do stuff with the spaces if you want.*/
.space{
	width: 15px;
}


/*These classes are added to each letter/span using JS so they animate*/
.weffect1{
	animation: zoom 6s linear infinite;
	-webkit-animation: zoom 6s linear infinite;
}
.weffect2{
	animation: mix 5s linear infinite;
	-webkit-animation: mix 5s linear infinite;
}
.weffect3{
	animation: mix2 3s linear infinite;
	-webkit-animation: mix2 3s linear infinite;	
}
.weffect4{
	animation: rot 5s linear infinite;
	-webkit-animation: rot 5s linear infinite;
}
.weffect5{
	animation: fade2 4s linear infinite;
	-webkit-animation: fade2 4s linear infinite;
}


/*Here's a bunch of animations*/

@keyframes zoom{
	0%{transform: scale(1);
    color:rgba(0,0,0,0);
    text-shadow:0 0 0px #444;}
	50%{transform: scale(1.1);
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;}
	100%{transform: scale(1);
    color:rgba(0,0,0,0);
    text-shadow:0 0 0px #444;}
}
@-webkit-keyframes zoom{
	0%{-webkit-transform: scale(1);
    color:rgba(0,0,0,0);
    text-shadow:0 0 0px #444;}
	50%{-webkit-transform: scale(1.1);
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;}
	100%{-webkit-transform: scale(1);
    color:rgba(0,0,0,0);
    text-shadow:0 0 0px #444;}
}

@keyframes bounce{
	0%{transform: translateY(0px);}
	50%{transform: translateY(2px);}
	100%{transform: translateY(0px);}
}
@-webkit-keyframes bounce{
	0%{-webkit-transform: translateY(0px);}
	50%{-webkit-transform: translateY(2px);}
	100%{-webkit-transform: translateY(0px);}
}

@keyframes squash{
	0%{transform:scale(1,1);}
	50%{transform:scale(1,1.2);}
	100%{transform:scale(1,1);}
}
@-webkit-keyframes squash{
	0%{-webkit-transform:scale(1,1);}
	50%{-webkit-transform:scale(1,1.2);}
	100%{-webkit-transform:scale(1,1);}
}

@keyframes rot{
	0%{transform: rotate(9deg);
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;}
	50%{transform: rotate(-9deg);
    color:rgba(0,0,0,0);
    text-shadow:0 0 0px #444;}
	100%{transform: rotate(9deg);
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;}
}
@-webkit-keyframes rot{
	0%{-webkit-transform: rotate(9deg);
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;}
	50%{-webkit-transform: rotate(-9deg);
    color:rgba(0,0,0,0);
    text-shadow:0 0 0px #444;
  }
	100%{-webkit-transform: rotate(9deg);
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;
  }
}

@keyframes fade2{
	0%{
		transform: scale(.8);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;
	}
	50%{
		transform: scale(1);
		opacity: 1;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
	}
	100%{
		transform: scale(.8);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 4px #444;
	}
}
@-webkit-keyframes fade2{
	0%{
		-webkit-transform: scale(.8);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;
	}
	50%{
		-webkit-transform: scale(1);
		opacity: 1;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
	}
	100%{
		-webkit-transform: scale(.8);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 4px #444;
	}
}

@keyframes mix {
  0%{
		transform: scale(.9);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;
    transform: rotate(3deg);
	}
	50%{
		transform: scale(1);
		opacity: 1;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
    transform: rotate(-3deg);
	}
	100%{
		transform: scale(.9);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 4px #444;
    transform: rotate(3deg);
	}
}

@-webkit-keyframes mix {
  0%{
		-webkit-transform: scale(.9);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;
    -webkit-transform: rotate(3deg);
	}
	50%{
		-webkit-transform: scale(1);
		opacity: 1;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
    -webkit-transform: rotate(-3deg);
	}
	100%{
		-webkit-transform: scale(.9);
		opacity: .7;
    color:rgba(0,0,0,0);
    text-shadow:0 0 4px #444;
    -webkit-transform: rotate(3deg);
	}
}

@keyframes mix2 {
  0%{
		transform: scale(.9);
		opacity: .6;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
    transform: rotate(6deg);
	}
	50%{
		transform: scale(1);
		opacity: 1;
    color:rgba(0,0,0,0);
    text-shadow:0 0 3px #444;
    transform: rotate(-6deg);
	}
	100%{
		transform: scale(.9);
		opacity: .6;
    color:rgba(0,0,0,0);
    text-shadow:0 0 2px #444;
    transform: rotate(6deg);
	}
}

@-webkit-keyframes mix2 {
  0%{
		-webkit-transform: scale(.9);
		opacity: .6;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
    -webkit-transform: rotate(6deg);
	}
	50%{
		-webkit-transform: scale(1);
		opacity: 1;
    color:rgba(0,0,0,0);
    text-shadow:0 0 3px #444;
    -webkit-transform: rotate(-6deg);
	}
	100%{
		-webkit-transform: scale(.9);
		opacity: .6;
    color:rgba(0,0,0,0);
    text-shadow:0 0 1px #444;
    -webkit-transform: rotate(6deg);
	}
}
/* 云里雾里奇妙特效结束 */


/* 模拟抽插 CSS动画 */
.thrust_x_s {
  -webkit-animation-name:"thurst_x";
  animation-name:"thurst_x";
  -webkit-animation-duration: 2s;
  animation-duration:2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:infinite;
}

.thrust_x_f {
  -webkit-animation-name:"thurst_x";
  animation-name:"thurst_x";
  -webkit-animation-duration: 1s;
  animation-duration:1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:infinite;
}

.thrust_x_f2 {
  -webkit-animation-name:"thurst_x";
  animation-name:"thurst_x";
  -webkit-animation-duration: 0.5s;
  animation-duration:0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:infinite;
}

.thrust_y_s {
  -webkit-animation-name:"thurst_y";
  animation-name:"thurst_y";
  -webkit-animation-duration: 2s;
  animation-duration:2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:infinite;
}

.thrust_y_f {
  -webkit-animation-name:"thurst_y";
  animation-name:"thurst_y";
  -webkit-animation-duration: 1s;
  animation-duration:1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:infinite;
}

.thrust_y_f2 {
  -webkit-animation-name:"thurst_y";
  animation-name:"thurst_y";
  -webkit-animation-duration: 0.5s;
  animation-duration:0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count:infinite;
}

@keyframes thurst_x {
  0%   {left:-10px; top:-10px;}
  25%  {left:10px; top:10px;}
  50%  {left:-10px; top:-10px;}
  75%  {left:10px; top:10px;}
  100% {left:-10px; top:-10px;}
}

@keyframes thurst_y {
  0%   {left:0px; top:-10px;}
  25%  {left:0px; top:10px;}
  50%  {left:0px; top:-10px;}
  75%  {left:0px; top:10px;}
  100% {left:0px; top:-10px;}
}
