#avater {
    width: 180px;
    height: 260px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
}

.L0_frame {
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L1_bukkake {
    z-index: 19;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L2_accesory {
    z-index: 18;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L3_hat {
    z-index: 17;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L4_coat {
    z-index: 16;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L5_top {
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L6_bottom {
    z-index: 14;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L7_undertop {
    z-index: 13;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L8_underbottom {
    z-index: 12;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L9_shoes {
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L10_socks {
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L11_faceadd {
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L12_eyebrow {
    z-index: 8;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L13_hairfront {
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L14_eyes {
    z-index: 6;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L15_mouth {
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L16_penis {
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L16_body {
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L17_hairback {
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L18_back {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.L19_background {
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}