#avatar {
    width: 180px;
    height: 260px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
}

.Layer {
    width: 180px;
    height: 260px;
    top: 0px;
    left: 0px;
    position: absolute;
}

#portrait {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    position: relative;
    overflow: clip;
    float: left;
}

.P_Layer {
    top: -15px;
    left: -35px;
    position: absolute;
}