#avatar {
    width: 180px;
    height: 260px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
}

.Layer {
    width: 180px;
    height: 260px;
    top: 0px;
    left: 0px;
    position: absolute;
}

#portrait {
    width: 120px;
    height: 120px;
    border: 1px solid #ddd;
    position: relative;
    overflow: clip;
    float: left;
    border-radius: 100%;
    margin: 5px;
}

.P_Layer {
    top: -15px;
    left: 0px;
    position: absolute;
}


/* 商店相关 */

#show_container {
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    height: fit-content;
    min-height: 250px;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-family: 'Times New Roman',正保黑体;
    display: inline-table;
}

#show_container .followright {
    width: calc(100% - 120px);
    display: inline;
}

#showcase {
    width: 100px;
    height: 240px;
    overflow: clip;
    position: absolute;
    bottom: 0px
}

.manequin {
    width: 166px;
    height: 240px;
    position: absolute;
    bottom:0px;
    left: -30px;
    /* Vertical colour gradient */
    background-image: linear-gradient(
        to bottom,
        rgb(207, 207, 207) 30%,
        rgb(110, 110, 110)
      );
      background-image: -webkit-linear-gradient(
        top,
        rgb(207, 207, 207) 30%,
        rgb(110, 110, 110)
      );
        /* Fallback colour */
    background-color: #eee;
}

.Caselayer {
    top: 0px;
    left: -35px;
    position: absolute;
    height: 240px;
}

#item_info {
    width: 100%;
    height: fit-content;
    line-height: 20px;
    letter-spacing: 1px;
}

#description {
    width: 80%;
    max-width: 500px;
}

#option_containter {
    width: calc(100% - 120px);
    height: fit-content;
    border-top: 1px solid #ddd;
    padding: 5px;
    background-color: transparent;
}

#pattern_option {
    width: 100%;;
    min-height: 30px;
    padding: 5px;
    padding-left: 10px;
    font-size: 14px;
    position:relative;
}

#color_plate {
    width: 100%;
    min-height: 30px;
    position: relative;
    padding: auto;
    font-size: 13px;
}

.color_plate {
    border: 1px solid #aaa;
    margin: 2px;
    float: left;
    position: relative;
    vertical-align: middle;
    height:24px;
}

#color_plate button {
    color:black;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5), -1px 1px 0px rgba(255, 255, 255, 0.5), 1px -1px 0px rgba(255, 255, 255, 0.5);
    width: fit-content;
    height:24px;   
    text-align: center;
    min-width: 40px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    padding: auto;
}

#color_plate button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color:deeppink;
}



#ShopList, #ClosetList {
    background-color: transparent;
    border: 0px;
    width: 100%;
}

#ShopList ul, #ClosetList ul {
    border: 0px;
    background-color: transparent;
    width: 100%;
    height: 32px;
    display: inline;
}

.category {
    float: left;
    position: relative;
    width: fit-content;
    height: 30px;
    border: 1px solid #aaa;
    padding: auto;
    margin-left: 2px;
    text-align: center;
    font-size: 13px;
}

#ShopList .ui-tabs, #ShopList .ui-tabs-tab, #ClosetList .ui-tabs, #ClosetList .ui-tabs-tab {
    border: 1px #ccc solid;
    background-color: rgba(255, 255, 255, 0.3);
}

#ShopList a , #ClosetList a{
    color: #999;
}

#ShopList .ui-tabs-active, #ClosetList .ui-tabs-active{
    background-color: #ddd;
    border: 1px #ccc solid;
}


#ShopList .ui-tabs-active a  , #ClosetList .ui-tabs-active a{
    color:rgb(56, 54, 52);
}

#ShopList li , #ClosetList li{
    list-style: none;
}

#ShopList ::before, #ShopList ::after , #ClosetList ::before, #ClosetList ::after{
    display: none;
}

#ShopList .ui-tabs-panel , #ClosetList .ui-tabs-panel{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ddd;
    padding: 10px;
    display: inline-table;
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    height: fit-content;
    min-height: 100px;
    margin-top: -1px;
}

#ShopList a:hover, #ShopList li a:hover , #ClosetList a:hover, #ClosetList li a:hover{
    border:none;
}

#show_items {
    width: 120px;
    height: 80px;
    margin: 2px 5px;
    position:relative;
    border: 1px solid #ccc;
    float: left;
    overflow: clip;    
}

.itemthumb {
    width: 80px;
    height: 80px;
    position: absolute;
    top:0px;
    left:-5px;
    z-index: 0;
}

.itemthumb:hover {
    background-color: rgba(127, 255, 212, 0.2);
}

.itemname {
    width: fit-content;
    height: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    text-shadow: -1px -1px 0px #fff,1px 1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff;
    font-size: 14px;
}

.itemprice {
    width: fit-content;
    height: 30px;
    position: absolute;
    right: 0px;
    bottom: 5px;
    z-index: 1;
    font-size: 15px;
    font-family: 新综艺B;
    color: orange;
    letter-spacing: 1px;
}

/* 衣柜相关 */

#W_showitems {
    width: 100px;
    height: 130px;
    margin: 2px 5px;
    position:relative;
    border: 1px solid #ccc;
    float: left;
    overflow: clip;
    line-height: 16px;
    font-family: 新综艺;
}

.W_itemname {
    font-size: 13px;
    position: absolute;
    bottom: 48px;
    right: 5%;
    text-shadow: -1px -1px 0px #fff,1px 1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff;
}
.itemdurab{
    position: absolute;
    bottom:32px;
    right:5%;
    font-size: 12px;
}

.itemdegree {
    font-size:12px;
    position: absolute;
    bottom:16px;
    right:5%;
}

.itembuff {
    font-size:12px;
    position: absolute;
    bottom:2px;
    right:5%;
}

.W_color {
    border: 1px solid #aaa;
    position: absolute;
    min-width: 30px;
    top: 2px;
    right:2px;
    font-size: 12px;
    text-align: center;
    text-shadow: -1px -1px 0px #fff,1px 1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff;
    height: 18px;
}

.W_pattern {
    border: 1px solid #aaa;
    position: absolute;
    min-width: 30px;
    top: 24px;
    right:2px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: 18px;
    background-color: rgba(238, 238, 238, 0.5);
    text-shadow: -1px -1px 0px #fff,1px 1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff;
}