#combat {
    text-align:center;
}
#enemyside, #playerside{
    width: fit-content;
    height: fit-content;
    min-height: 120px;
    display: inline-block;
    padding: 2px;
    position: relative;
    text-align: center;
}

#message_container {
    border: 1px solid #ccc;
    width: 100%;
    min-width: 500px;
    height: 150px;
    font-size: 14px;
    overflow-y: scroll;
    font-family: 新综艺B;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 5px;
    display: inline-block;
    position: relative;
}

#characard {
    width: 120px;
    min-width: 120px;
    min-height: 80px;
    border: 1px solid #ddd;
    margin: 2px;
    position: relative;
    padding: 5px;
    float: left;
}

#playerside #characard{
    width: 240px;
    min-width: 240px;
    min-height: 120px;
}

#characard .metername { 
    width:16px; 
    height:18px; 
    font-size: 10px;
    z-index:1;
    font-family: 新综艺B;
    color:darkolivegreen;
    text-shadow: 1px 1px 1px#fff,-1px -1px 1px#fff,-1px 1px 1px#fff,1px -1px 1px#fff;
}   

.showHP, .showMP, .showSP{
    font-size: 10px;
    font-family: 新综艺B;
    letter-spacing: 1px;
}

#characard .metercon {
    z-index:1;
    width:100px;
    height: 6px;
    background-color: #ddd;
    border:1px solid #ccc;
    margin-left: 2px;
}

#characard .bar {
    z-index:2;
    max-width: 100px;
    min-width: 0px;
    height:6px;
    background-color: #ccc;
    transition: all 0.75s;
}

#characard .face {
    position:absolute;
    top:2px;
    left:2px;
}

#playerside #characard .CC_name {
    position: absolute;
    top:100px;
    left:10px;
    text-shadow: 1px 1px 1px#fff,-1px -1px 1px#fff,-1px 1px 1px#fff,1px -1px 1px#fff;
}

#playerside #showHP{
    width: 120px;
    height: 20px;
    position: absolute;
    left:120px;
    top:10px;
}

#playerside .showHP, #playerside .showMP, #playerside .showSP{
    position: absolute;
    right: 5px;
    height: 16px;
    text-shadow: 1px 1px 1px#fff,-1px -1px 1px#fff,-1px 1px 1px#fff,1px -1px 1px#fff;
}

#playerside #showMP{
    width: 120px;
    height: 20px;
    position: absolute;
    left:120px;
    top:30px;
}

#playerside #showSP {
    width: 120px;
    height: 20px;
    position: absolute;
    left:120px;
    top:50px;
}

#enemyside #showHP, #enemyside #showMP, #enemyside #showSP {
    width: 120px;
    height: 20px;
    position: relative;
}