/* Default dialog styling */
#ui-overlay {
    background-color:rgba(218, 225, 233, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px); 
}

#ui-overlay.open {
    opacity: 1;
    transition: all 0.5s;
}

#ui-dialog {
    width: fit-content;
    min-width: 250px;
    max-width: 600px;
    height: fit-content;
    min-height: 100px;
    max-height: 600px;
    overflow: scroll;
    overflow-wrap: anywhere;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 10%;
    box-shadow: -2px -2px 1px rgba(255, 255, 255, 0.75), 2px 2px 1px rgba(120, 120, 120, 0.3), 5px 30px 20px rgba(40, 40, 40, 0.3);
    padding: 10px;
}

#ui-dialog-titlebar {
    background-color: transparent;
    padding: 5px auto;
    cursor: move;
}

#ui-dialog-titlebar h1 {
    background-color: transparent;
    padding: 5px auto;
    margin: 5px;
    font-family: 珍珠体, Georgia;
    font-size: 18px;
}

#ui-dialog-close{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    top:2px;
    right:5px;
    z-index: 100;
}
#ui-dialog-close:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
#ui-dialog-body {
    background-color: transparent;
    border: none;
    font-family:'Noto Sans SC';
    height: fit-content;
    max-height: 80%;
}
#ui-dialog-body hr {
    background-color: #ccc;
}

#ui-dialog-body button {
    background-color: transparent;
    border: #ccc 1px solid;
    width: fit-content;
    min-width: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.5s;
    border-radius: 3px;
}

#ui-dialog-body button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: rgb(255, 255, 255) 1px solid;
    width: fit-content;
    min-width: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    color:#42d9ff;
    box-shadow: 0px 0px 3px rgba(182, 240, 255, 0.5);
}

#ui-dialog-body input[type="button"]{
    background: transparent;
    border-radius: 5px;
    min-width: 50px;
    max-height: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#alert-ok {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#alert-cancel {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
    border-top-color: #ccc;
}
#ui-dialog-body.list li a {
    color: #111;
}
#ui-dialog-body.list li a:hover {
    background-color: #ddd;
    border-color: #111;
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
    border-top-color: #ccc;
}
#ui-dialog-body.saves .empty {
    color: #777;
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
    color: #111;
    border-color: #ccc;
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
    background-color: #ddd;
    border-color: #111;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
    background-color: #9e9;
    border-color: #7c7;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
    background-color: #7c7;
    border-color: #5a5;
}


#menu {
    display: none;
}

#menu ul {
    border-color: #ccc;
}
#menu li:not(:first-child) {
    border-top-color: #ccc;
}
#menu li a {
    color: #111;
}
#menu li a:hover {
    background-color: #ddd;
    border-color: #111;
}
