.none {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.grayscale {
  -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
}

.brightness {
  -webkit-backdrop-filter: brightness(1.5);
          backdrop-filter: brightness(1.5);
}

.blur {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.contrast {
  -webkit-backdrop-filter: contrast(1.2);
          backdrop-filter: contrast(1.2);
}

.drop-shadow {
  -webkit-backdrop-filter: drop-shadow(0px 0px 5px rgba(163, 153, 153, 0.2));
          backdrop-filter: drop-shadow(0px 0px 5px rgba(163, 153, 153, 0.2));
}

.drop-shadow-overlay {
  -webkit-backdrop-filter: drop-shadow(0px 0px 5px rgba(142, 238, 255, 0.1));
          backdrop-filter: drop-shadow(0px 0px 5px rgba(142, 238, 255, 0.1));
}

.invert {
  -webkit-backdrop-filter: invert(0.7);
          backdrop-filter: invert(0.7);
}

.opacity {
  -webkit-backdrop-filter: opacity(0.4);
          backdrop-filter: opacity(0.4);
}

.sepia {
  -webkit-backdrop-filter: sepia(0.4);
          backdrop-filter: sepia(0.4);
}

.saturate {
  -webkit-backdrop-filter: saturate(1.8);
          backdrop-filter: saturate(1.8);
}

.hue-rotate {
  -webkit-backdrop-filter: hue-rotate(120deg);
          backdrop-filter: hue-rotate(120deg);
}

.roundbutton button{
    transition: all 0.3s ease-in-out;
    background-color: rgba(250, 250, 250);
    border: 1px solid lightgray;
    border-radius: 5px;
    color: rgb(76, 77, 63);
}

.roundbutton button:hover{
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(51, 51, 51);
    color: rgb(0, 0, 0);
}

.glassbtn, .glassbutton button {
  font-family: 新综艺;
  letter-spacing: 1px;
  color: #000;
  border: #eee 1px;  
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow:inset 2px 2px 1px 0px rgba(255,255,255,.5), 1px 1px 2px 0px rgba(0,0,0,.1);
  outline: none;
}

.glassbtn:hover, .glassbtn:focus, .glassbutton button:hover, .glassbutton button:focus {
  background: transparent;
  color:#b89f11;
  border: #eee 1px;
  box-shadow:inset 2px 2px 1px 0px rgba(73, 50, 0, 0.1), 1px 1px 2px 0px rgba(255, 248, 186, 0.2);
}

.textborder {
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5), -1px 1px 0px rgba(255, 255, 255, 0.5), 1px -1px 0px rgba(255, 255, 255, 0.5);
}