.none {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.grayscale {
  -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
}

.brightness {
  -webkit-backdrop-filter: brightness(1.5);
          backdrop-filter: brightness(1.5);
}

.blur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.contrast {
  -webkit-backdrop-filter: contrast(0.8);
          backdrop-filter: contrast(0.8);
}

.drop-shadow {
  -webkit-backdrop-filter: drop-shadow(0px 0px 5px rgba(163, 153, 153, 0.2));
          backdrop-filter: drop-shadow(0px 0px 5px rgba(163, 153, 153, 0.2));
}

.invert {
  -webkit-backdrop-filter: invert(0.7);
          backdrop-filter: invert(0.7);
}

.opacity {
  -webkit-backdrop-filter: opacity(0.4);
          backdrop-filter: opacity(0.4);
}

.sepia {
  -webkit-backdrop-filter: sepia(0.4);
          backdrop-filter: sepia(0.4);
}

.saturate {
  -webkit-backdrop-filter: saturate(1.8);
          backdrop-filter: saturate(1.8);
}

.hue-rotate {
  -webkit-backdrop-filter: hue-rotate(120deg);
          backdrop-filter: hue-rotate(120deg);
}